<form action="/users" accept-charset="UTF-8" method="post">
  <input type="hidden" name="authenticity_token" value="...">

  <div>
    <label for="user_name">Name</label><br>
    <input type="text" name="user[name]" id="user_name">
  </div>

  <div>
    <input type="submit" name="commit" value="Create User" data-disable-with="Create User">
  </div>
</form>