<%# <p id="notice"><%= notice </p> %>
<div class="container">
    <div class="events-user">
        <%= print_created_events %>
    </div>

    <div class="user-part previous">
        <h2>Past Events</h2>
        <%= print_upcoming_events %>
    </div>

    <div class="user-part upcoming">
        <h2>Upcoming Events</h2>
        <%= print_upcoming_events 'events/form' %>
    </div>
</div>
